<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Create a new blog</title>
</head>
<body>
<h1>Create Blog</h1>
<a href="/blog/show-blog">Blog list</a>


<p th:if="${message}">
    <p th:text="${message}"></p>
</p>


<form th:action="@{/blog/save-blog}" th:object="${blog}" method="post">
    <table>
        <tr>
            <td>ID:</td>
            <td><input type="text" th:field="*{id}"/></td>
        </tr>
        <tr>
            <td>Name:</td>
            <td><input type="text" th:field="*{name}"/></td>
        </tr>
        <tr>
            <td>Content:</td>
            <td><input type="text" th:field="*{content}"/></td>
        </tr>

        <tr>
            <td></td>
            <td><input type="submit" value="Create Blog"></td>
        </tr>
    </table>
</form>
</body>
</html>